body {
  font:normal 12px Tahoma;
  color: #092843;
  background: #FFFFFF;
  background-image: url(images/back.png);
  text-align: center;
}

a {
  text-decoration: none;
  color: #1762A4;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

#page {
  width:550px;
  text-align: left;
  /*float: left;*/
  margin: 10 auto 10 auto;
  border: 1px solid black;
  padding: 15px;
  background: #FFFFFF;
}

#page h1{
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

#page_log {
  width:1000px;
  text-align: left;
  /*float: left;*/
  margin: 10 auto 10 auto;
  border: 1px solid black;
  padding: 15px;
  background: #FFFFFF;
}

#page_log h1{
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

table{
  font-size: 12px;
}

#log {
}
  #log table{
    font-size: 10px;
  }
